.banners-bg {
    position: relative;
    z-index: 1; 
}

/* .banners-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/banner/3.jpg"), linear-gradient(to right, rgba(58, 42, 42, 0.5));
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
} */
